@font-face {
  font-family: 'Monserrat';
  src: url('/fonts/Monserrat-Regular.woff2') format('woff2'),
      url('/fonts/Monserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: url('/fonts/Monserrat-Bold.woff2') format('woff2'),
      url('/fonts/Monserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}