@use "sass:map";
@use "./variables" as *;

@mixin vp-1023 {
  @media (max-width: $vp-tablet) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: $vp-mobile) {
    @content;
  }
}

@mixin text-style($key) {
  $style: map.get($typography, $key);

  font-family: $ff-main;
  font-size: map.get($style, fs);
  font-weight: map.get($style, fw);
  line-height: map.get($style, lh);
}