@use "../global/variables" as *;

.add-block {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__inner {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__close-btn {
        border: none;
        background-color: transparent;
        width: 15px;
        height: 15px;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            width: 1px;
            height: 15px;
            background-color: $color-text-secondary;
            position: absolute;
            top: 0;
            left: 50%;
            transform: rotate(45deg) translateX(-50%);
        }

        &::before {
            content: '';
            width: 1px;
            height: 15px;
            background-color: $color-text-secondary;
            position: absolute;
            top: 0;
            left: 50%;
            transform: rotate(-45deg) translateX(-50%);
        }
    }
}