@use "../global/variables" as *;
@use "../global/mixins" as *;

.btn-add {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--primary {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 8px;
        color: $color-text-secondary;
        @include text-style("body-text");
    }

    &--secondary {
        width: 147px;
        padding: 8px;
        border-radius: 3px;
        color: $color-white;
        @include text-style("title-text");
        background-color: $color-btn;
    }


}