.card-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-height: 0;

    &:empty {
        display: none;
    }

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}