//!GLOBAL
@use './global/variables' as *;
@use './global/container';
@use './global/mixins';
@use './global/normalize';
@use './global/reboot';
@use './global/visually-hidden';

//!BLOCKS

.test {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: red;
}